*{
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

.nav{
    height: 120px;
}

.navigation{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    margin: auto;
    padding-top: 2em;
    color: #fff;
    position: fixed;
    z-index: 99;
}

.brand{
    font-family: 'Major Mono Display', monospace;
    font-size: 200%;
    float: left;
}

.brand p{
    margin-bottom: 0px;
}

.brand h2{
    margin: 0px;
}

.brand a{
    text-decoration: none;
    color: #fff;
}

.menu{
    float: right;
    font-size: 120%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    text-decoration: none;
  }
  
  li a {
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    float: right;
  }
  
  li a:hover {
    color: rgb(90, 143, 185);
    text-decoration: none;
  }

body{
    background-color: #00233D;
    height: 2000px;
}

.centerArt{
    position: relative;
    height: 90vh;
    padding-left: 5%;
    padding-right: 5%;
}

.centerArt img{
    z-index: 3;
    position: absolute;
    right: 36%;
    top: 50px;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .centerArt img{
        width: 33%;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .centerArt img{
        width: 30%;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .centerArt img{
        width: 25%;
    }
 }
 
 @media only screen and (min-width: 992px) {
    .centerArt img{
        width: 18%;
    }
} 

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .centerArt img{
        width: 18%;
    }
 } 

.rec{
    border-style: solid;
    border-color: #fff;
    position: absolute;
}

#rec1{
    top: 2vh;
    border-width: 4px;
    width: 33%;
    height: 75vh;
    left: 27%;
    transition: 0.5s ease-in-out;
}

#rec2{
    left: 15%;
    top: 28vh;
    border-width: 7px;
    width: 60%;
    height: 33vh;
    transition: 0.5s ease-in-out;
}

#rec3{
    border-width: 2px;
    width: 30%;
    height: 65vh;
    right: 15%;
    top: 120px;
    transition: 0.5s ease-in-out;
}

.animation1{
    transform: translate(0, -6em);
}
.animation2{
    transform: translate(0, -9em);
}
.animation3{
    transform: translate(0, -15em);
}

.detail1{
    position: fixed;
    z-index: -1;
    width: 30px;
    height: auto;
    top: 69%;
}

.dot{
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.detail1 img{
    width: 30px;
    margin-top: 80px;
}

.detail2{
    position: relative;
    color: rgb(221, 221, 221);
    width: 80px;
    height: 100px;
    right: -100%;
}

.detailSec{
    width: 100%;
    height: 30px;
    position: relative;
}

.line{
    position: absolute;
    top: 15px;
    background-color: rgb(221, 221, 221);
    width: 30%;
    height: 3px;
    left: 0em;
}

.line1{
    width: 30%;
}

.line2{
    width: 15%;
    background-color: rgb(129, 129, 129);
}

.line3{
    width: 30%;
}

.line4{
    width: 15%;
    background-color: rgb(129, 129, 129);
}

.line5{
    width: 30%;
}

.num{
    position: absolute;
    font-family: 'Vast Shadow', cursive;
    font-size: 140%;
    width: 60%;
    right: 0em;
}

#bioSection{
    z-index: 99;
    border-style: solid;
    border-color: #FFE119;
    border-width: 20px;
    background-color: #00233D;
    height: 100vh;
    text-align: center;
}

#codeSection{
    z-index: 99;
    height: 100vh;
    background-color: #00233D;
    text-align: center;
}